
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/pages/dashboard.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=logout" />

    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Bem-Vindo, <span class="nome-usuario" id="nome-usuario">Carregando...</span>!</h1> 
        </div><!-- header -->
        <div class="logout-container">
            <button class="btn btn-danger" onclick="logout()">
                <span class="material-symbols-outlined">logout</span>
            </button>
        </div>
        
        <form id="useForm" class="user-form">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" value="" disabled>
            </div><!--form-group-->
            <div class="form-group">
                <label for="nascimento">Data de Nascimento:</label>
                <input type="date" id="nascimento" name="nascimento" value="" disabled>
            </div><!--form-group-->
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="" disabled>            </div>

            <div class="actions">
                <button type="button" class="btn-primary" id="btn-editar" onclick="editar()">Editar</button>
                <button type="button" class="btn-success" id="btn-salvar" onclick="salvar()">Salvar</button>
                <button type="button" class="btn-cancel" id="btn-cancelar" onclick="cancelar()">Cancelar</button>
                
            </div>
        </form>
    </div>
    <script src="../assets/js/dashboard.js"></script>
</body>
</html>