/* Reset e estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #1a1a1a; /* Preto suave */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

/* Container base */
.container {
    background: linear-gradient(135deg, #1a1a2e 0%, #16213e 50%, #0f3460 100%);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    height: 400px;
    text-align: left;
}

/* Títulos globais */
h1 {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}

